@import "../../variables";

.card-container {
  padding: 30px;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  &:hover {
    box-shadow: 0 0 10px $medGray;
    border-radius: 5px;
  }

  .image {
    border-radius: 5px;
    height: 265px;
    max-width: 265px;
  }
  .name {
    text-transform: capitalize;
    color: $darkGray;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 22px;
  }
  .company {
    color: $lightGray;
    text-transform: uppercase;
    font-size: 13px;
    margin: 4px;
  }
  .social {
    a, a:hover {
      color: $lightGray;
      text-decoration: none;
      margin: 5px;
      font-size: 18px;
    }
  }

  &.selected{
    border: 1px solid #acacac;
    border-radius: 5px;
    margin-top: 0;
    padding: 35px;

    &:hover {
      box-shadow: none;
    }
  }
}
