<div class='app'>
  <div class="social">
    <div class="container">
      <div class="row">
        <div class="contact">
          <i class="fa fa-envelope-o"></i>
          <a href="mailto:info@ng-atl.org?Subject=Conf Website Inquiry" target="_top">
            info@ng-atl.org
          </a>
        </div>
        <div class="col">
          <div class="pull-right icons">
            <a href="https://www.facebook.com/ngAtlConf/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/ngAtlConf" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/ngAtlConf/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="primary-nav container">
    <a routerLink=""><img src="../assets/ngATL_logo.svg" alt="" height="76"></a>
    <nav class="pull-right">
      <a routerLink="">Home</a>
      <a routerLink="CodeOfConduct">Code Of Conduct</a>
      <a routerLink="Speakers">Speakers</a>
      <a href="https://ti.to/ngatlconf/ngatl-2018" target="_blank">Registration</a>
      <a *ngIf="false" routerLink="Sponsors">Sponsors</a>
      <a *ngIf="false" routerLink="Details">Event Details</a>
      <pill-button *ngIf="false" label="Register Now" color="red" link="Registration"></pill-button>
    </nav>
  </div>
</div>