<footer>
  <div class="container">
    <div class="logo-row row justify-content-sm-center align-items-center">
      <div class="col">
        <img class="logo" src="../../assets/ngATL_logo-reversed.svg">
      </div>
    </div>
    <div class="coc-row row justify-content-sm-center align-items-center">
      <div class="col">
        <a routerLink="CodeOfConduct">Code of Conduct</a>
      </div>
    </div>
    <div class="copy-row row justify-content-sm-center align-items-center">
      <div class="col">
        <div>COPYRIGHT {{year}} &#169; NgAtlConf LLC - ALL RIGHTS RESERVED</div>
      </div>
    </div>
    <div class="social-row row justify-content-sm-center align-items-center">
      <div class="col">
        <span class="fa-stack fa-lg">
          <a href="https://www.facebook.com/ngAtlConf/" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="https://twitter.com/ngAtlConf" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </a>
        </span>
        <!--<span class="fa-stack fa-lg">-->
          <!--<a href="https://www.instagram.com/ngAtlConf/" target="_blank">-->
            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
            <!--<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>-->
          <!--</a>-->
        <!--</span>-->
      </div>
    </div>
  </div>
</footer>