<div class="container coc">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title">ngAtl Code of Conduct</div>
      <div class="divider">
        <span></span>
      </div>
      <div class="body-section">
        All attendees, speakers, sponsors and volunteers at ngAtl are required to agree with the following code
        of conduct. Organisers will enforce this code throughout the event. We expect cooperation from all participants
        to
        help ensure a safe, welcoming and inclusive environment for everybody.
      </div>
      <div class="page-subtitle">Need Help?</div>

      <ul class="body-section">
        <li>Email us at <a href="mailto:info@ng-atl.org?subject=Code of Conduct">info@ng-atl.org</a></li>
        <li>Tweet at us <a href="https://twitter.com/ngAtlConf">@ngAtlConf</a></li>
        <li>Phone number will be made available as we get closer to the conference.</li>
      </ul>

      <div class="page-subtitle">The Quick Version</div>
      <div class="body-section">
        ngAtl is dedicated to providing a harassment-free conference experience for everyone, regardless of
        gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size,
        race,
        ethnicity, religion (or lack thereof), financial status, political views, or technology choices. We do not
        tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for
        any
        conference venue, including talks, workshops, parties, Twitter and other online media. ngAtl participants
        violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of
        the
        conference organisers.
      </div>
      <div class="page-subtitle">The Less Quick Version</div>
      <div class="body-section">
        Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual
        orientation, disability, physical appearance, body size, race, ethnicity, religion, financial status, political
        views, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following,
        harassing
        photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and
        unwelcome sexual attention.

        Participants asked to stop any harassing behavior are expected to comply immediately.

        Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised
        images,
        activities, or other material. Booth staff (including volunteers) should not use sexualised
        clothing/uniforms/costumes, or otherwise create a sexualised environment.

        If a participant engages in harassing behavior, ngAtl organisers may take any action they deem
        appropriate, including warning the offender or expulsion from ngAtl with no refund.

        If you are being harassed, notice that someone else is being harassed, or have any other concerns, please
        contact
        a member of ngAtl conference staff immediately. Conference staff can be identified as they'll be wearing branded
        clothing and/or badges.

        ngAtl staff will be happy to help participants contact hotel/venue security or local law enforcement, provide
        escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We
        value your attendance.

        We expect participants to follow these rules at conference and workshop venues and conference-related social
        events.
      </div>
      <div class="page-title">How do we handle Code of Conduct Violations</div>
      <div class="divider">
        <span></span>
      </div>
      <div class="body-section">
        <strong>Who gets involved?</strong>
        <br>
        The organizers and a committee of speakers will be called upon to consider each reported violation.
        <br>
        <br>
        <strong>Initial Actions</strong>
        When a violation occurs the committee will:
        <br>
        <ul>
          <li>Contact you via you're preferred method of contact immediately to ensure your safety</li>
          <li>Find a private place to talk</li>
          <li>Collect information on the offending party, what was said and/or done, who else was involved (if anyone),
            and the name of any witnesses (if any), as well as when and where the violation occurred. Follow up
            questions may be required depending on the situation.
          </li>
        </ul>
        <br>
        <strong>Follow Up</strong>
        Once we have the initial report the committee will discuss next steps. Depending on the severity of the
        violation the committee may report the incident to the police. If the committee is reasonably certain that the
        police are not required all of the following will happen:
        <ul>
          <li>We will find the offender(s), let them know that a complaint was received, we will also hear their side of
            the story.
          </li>
          <li>We will immediately meet as a committee to decide response or what additional parties need to be involved,
            then decide a response.
          </li>
          <li>Carry out the response.</li>
          <li>We may address the conference and the community depending on the violation, letting them know that
            something happened that violated our code of conduct and that we addressed the issue.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>