.card-container {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: center;
  width: 415px;
  margin-bottom: 10px;
  height: 485px;
  display: inline-block; }

.card-container:hover {
  border: 1px solid #acacac;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px; }

.card-container .image {
  height: 365px;
  max-width: 365px; }

.card-container .name {
  text-transform: capitalize;
  color: #222222;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px; }

.card-container .company {
  color: #ababab;
  text-transform: uppercase;
  font-size: 12px; }

.card-container .social a, .card-container .social a:hover {
  color: #ababab;
  text-decoration: none; }

.speaker-detail {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.speaker-detail .speaker-detail-content {
  top: -200px;
  width: 100px;
  height: 100px; }
