<div class="card-container">
  <img class="image" [src]="speaker.image">
  <div class="name">{{speaker.name}}</div>
  <div class="company">{{speaker.company}}</div>
  <div class="social">
    <a *ngIf="speaker.social && speaker.social.twitter" target="_blank" [href]="'https://twitter.com/'+speaker.social.twitter">
      <i class="fa fa-twitter"></i>
    </a>
  </div>
</div>
<div class="speaker-detail" *ngIf="showDetails">
  <div class="speaker-detail-content">
    <i class="fa fa-close" (click)="showDetails = !showDetails"></i>
  </div>
</div>
