<div class="home">

  <div class="hero">
    <div class="container">
      <h2>Diversity in Technolog</h2>
      <h1>2018 ngATL CONFERENCE<br />ATLANTA, GA</h1>
      <h3>JAN 30 - DEB 2, 2018</h3>
      <pill-button label="Register Now" color="red" (click)="goRegister()"></pill-button>
      <pill-button label="Become a Sponsor" color="clear" (click)="goSponsor()"></pill-button>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1>About ng-ATL</h1>
        <p>We'll put some at-a-glance information here.</p>
      </div>
      <div class="col"><!-- What -->
        <i class="fa fa-bullhorn"></i>
        <h2>What</h2>
      </div>
      <div class="col"><!-- When -->
        <i class="fa fa-calendar"></i>
        <h2>When</h2>
      </div>
      <div class="col"><!-- Where -->
        <i class="fa fa-map-marker"></i>
        <h2>Where</h2>
      </div>
    <div class="col-12">
      <pill-button label="Learn More" color="red" (click)="goLearnMore()"></pill-button>
    </div>
  </div>

  <div class="email">
    Stay up to date...
  </div>

  <div class="sponsors">
    Our sponsors
  </div>
</div>