<nav>
  <div class="top-nav">
    <div class="container">
      <div class="social">
        <a href="https://twitter.com/ngAtlConf" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/ngAtlConf" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://twitter.com/ngAtlConf" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="primary-nav row">
    <div class="row">

    </div>
    <div class="col-2">
      <a routerLink="">Logo Here</a>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-2">
          <a routerLink="CodeOfConduct">Code Of Conduct</a>
        </div>
        <div class="col-2">
          <a routerLink="Speakers">Speakers</a>
        </div>
        <div class="col-2">
          <a routerLink="Registration">Registration</a>
        </div>
        <div class="col-2">
          <a routerLink="">Sponsors</a>
        </div>
        <div class="col-2">
          <a routerLink="">Event Details</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<div class="footer">Footer goes here</div>