@import "../variables";

.app {
  .social {
    color: $white;
    height: 50px;
    background-color: $darkGray;
    a, a:hover {
      text-decoration: none;
      color: $white;
    }
  }

  .primary-nav {
    height: 70px;
    padding: 10px 0;
    text-transform: uppercase;

    a, 
    a:visited { 
      color: $darkGray;
    }

    a:hover {
      color: $primary;
      cursor: pointer;
    }
  }
}

section {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.hero-img img {
  max-height: 500px;
  width: 100%;
}

.speakers {
  margin-top: 30px;
  margin-bottom: 45px;
}

.speaker-images {
  text-align: center;
}

.speaker-images img {
  height: 150px;
  margin-bottom: 25px;
  border-radius: 50%;
}