<md-sidenav-container>
  <header>
    <div class="social">
      <div class="container">
        <div class="row">
          <div class="contact">
            <i class="fa fa-envelope-o"></i>
            <a href="mailto:info@ng-atl.org?Subject=Conf Website Inquiry" target="_top">
              info@ng-atl.org
            </a>
          </div>
          <div class="col">
            <div class="pull-right icons">
              <a href="https://www.facebook.com/ngAtlConf/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://twitter.com/ngAtlConf" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="primary-nav container">
      <a routerLink="" class="main-logo">
        <img src="../assets/ngATL_logo.svg" alt="ngAtlanta Logo">
      </a>
      <nav class="pull-right">
        <a routerLink="">Home</a>
        <a routerLink="CodeOfConduct">Code Of Conduct</a>
        <a routerLink="Speakers">Speakers</a>
        <a routerLink="Sessions">Sessions</a>
        <a routerLink="Workshops">Workshops</a>
        <a routerLink="Blog">Blog</a>
        <a href="https://ti.to/ngatlconf/ngatl-2018" target="_blank">Registration</a>
        <a *ngIf="false" routerLink="Sponsors">Sponsors</a>
        <a *ngIf="false" routerLink="Details">Event Details</a>
        <pill-button *ngIf="false" label="Register Now" color="red" link="Registration"></pill-button>
      </nav>
    </div>
    <div class="toggle-menu">
      <i class="fa fa-bars" (click)="open = !open"></i>
    </div>
  </header>
  <md-sidenav mode="side" [opened]="open">
    <a routerLink="" class="main-logo">
      <img src="../assets/ngATL_logo.svg" alt="ngAtlanta Logo">
    </a>
    <div class="social">
      <a class="left" href="https://www.facebook.com/ngAtlConf/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="right" href="https://twitter.com/ngAtlConf" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
    <div class="links">
      <a routerLink="">Home</a>
      <a routerLink="CodeOfConduct">Code Of Conduct</a>
      <a routerLink="Speakers">Speakers</a>
      <a routerLink="Sessions">Sessions</a>
      <a routerLink="Workshops">Workshops</a>
      <a routerLink="Blog">Blog</a>
      <a href="https://ti.to/ngatlconf/ngatl-2018" target="_blank">Registration</a>
      <a *ngIf="false" routerLink="Sponsors">Sponsors</a>
      <a *ngIf="false" routerLink="Details">Event Details</a>
    </div>
    <pill-button label="Register Now" color="red" link="Registration"></pill-button>
  </md-sidenav>
  <div class="my-content">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</md-sidenav-container>
