<div class="breadcrumb-hero">
  <div class="breadcrumb-title">Blog</div>
  <div class="breadcrumb-links"><a routerLink="">HOME / </a><span class="current">BLOG</span></div>
</div>
<div class="article-purchase">
  <a class="red-button" href="https://ti.to/ngatlconf/ngatl-2018" target="_blank">Get your tickets now</a>
  <a class="normal-button" href="https://medium.com/@NgAtlanta" target="_blank">Visit our blog</a>
</div>
<div class="article-container">
  <section class="article" *ngFor="let article of articles">
    <div class="article-header">
      <a [href]="article.link" target="_blank" class="blog-link">
        <img [src]="'assets/' + article.img">
        <span class="title">{{article.title}}</span><span class="date"> - {{article.date}}</span>
        <i class="fa fa-link"></i>
      </a>
    </div>
    <div class="article-body">
      {{article.description}}
    </div>
  </section>
</div>
<div class="article-purchase">
  <a class="red-button" href="https://ti.to/ngatlconf/ngatl-2018" target="_blank">Get your tickets now</a>
  <a class="normal-button" href="https://medium.com/@NgAtlanta" target="_blank">Visit our blog</a>
</div>
