<div class="home">

  <div class="hero">
    <div class="container">
      <h2>Diversity in Technology</h2>
      <h1>2018 ngATL CONFERENCE<br />ATLANTA, GA</h1>
      <h3>JAN 30 - FEB 2, 2018</h3>
      <pill-button label="Register Now" color="red" link="Registration"></pill-button>
      <pill-button label="Become a Sponsor" color="clear" link="Sponsors"></pill-button>
    </div>
  </div>

  <div class="container">
    <div class="header row text-center">
      <div class="col-12">
        <h1>About ng-ATL</h1>
        <div class="separator"></div>
        <span>We'll put some at-a-glance information here.</span>
      </div>
      <div class="col"><!-- What -->
        <i class="fa fa-bullhorn"></i>
        <h2>What</h2>
        <p>
          1st annual Angular conference in Atlanta, GA<br>
          focused on diversity in technology.
        </p>
      </div>
      <div class="col"><!-- When -->
        <i class="fa fa-calendar"></i>
        <h2>When</h2>
        <p>          
          January 30-31 (Workshops)<br>
          Feburary 1-2 (Conference)
        </p>
      </div>
      <div class="col"><!-- Where -->
        <i class="fa fa-map-marker"></i>
        <h2>Where</h2>
        <p>
          The Hotel at Avalon<br>
          9000 Avalon Blvd., Alpharetta GA 30009<br>
          (470) 588-1075
        </p>
      </div>
    <div class="col-12">
      <pill-button label="Learn More" color="red" link=""></pill-button>
    </div>
  </div>
</div>

  <div class="email">
    <div class="container">
      <div class="row">
        <div class="left col-8">
          <h1>Stay up to date...</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed viverra mauris. 
            Praesent velit eros, convallis vitae lorem eu, ornare vestibulum mauris.
          </p>
        </div>
        <div class="right col-4">
          <input type="text" placeholder="First name, last name...">
          <input type="text" placeholder="Enter email...">
          <pill-button label="Subscribe" color="red"></pill-button>
        </div>
      </div>
    </div>
  </div>

  <div class="container sponsors">
    <div class="header row text-center">
      <div class="col-12">
        <h1>Our Sponsors</h1>
        <div class="separator"></div>
        <span>Just a few of our premium sponsors...</span>
      </div>
      <div class="col-3 card" *ngFor="let sponsor of sponsors">
        <img [src]="'../../assets/' + sponsor.image" alt="sponsor.name">
        <div class="title">
          {{ sponsor.name }}
        </div>
        <div class="caption">
          {{ sponsor.level }}
        </div>
      </div>
    <div class="col-12">
      <pill-button label="Become a Sponsor" color="red" link="Sponsors"></pill-button>
    </div>
  </div>