<div class="home">

  <div class="hero">
    <div class="container">
      <h1>2018 ngATL Conference<br/>Atlanta, GA</h1>
      <h2>Diversity, Inclusion and Angular</h2>
      <h3>JAN 30 - FEB 2, 2018</h3>
      <a class="red-button" href="https://ti.to/ngatlconf/ngatl-2018" target="_blank">Register Now</a>
      <a class="outline-button"
         href="https://docs.google.com/forms/d/e/1FAIpQLSc9wTvlB7q0XFeM9NLGb8r49ikwPcGr4mc-wRS41s2CoM-rYw/viewform?usp=sf_link"
         target="_blank">Become a Sponsor</a>
    </div>
  </div>

  <div class="container">
    <div class="header text-center">
      <div>
        <h1>About ng-ATL</h1>
        <div class="separator"></div>
        <!--<span>We'll put some at-a-glance information here.</span>-->
      </div>
      <div class="row">

        <div class="col-sm-12 col-md-6">
          <i class="fa fa-bullhorn"></i>
          <h2>What</h2>
          <p>
            1st annual Angular conference in Atlanta, GA<br>
            focused on diversity in technology.
          </p>
        </div>
        <div class="col-sm-12 col-md-6">
          <i class="fa fa-calendar"></i>
          <h2>When</h2>
          <p>
            January 30-31 (Workshops)<br>
            Feburary 1-2 (Conference)
          </p>
        </div>
        <div class="col-sm-12">
          <i class="fa fa-map-marker"></i>
          <h2>Where</h2>
          <p>
            The Hotel at Avalon<br>
            9000 Avalon Blvd., Alpharetta GA 30009<br>
            (470) 588-1075
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="email">
    <div class="container">
      <div class="row">
        <div class="left col-sm-12 col-md-8">
          <h1>Stay up to date...</h1>
          <p>
            Take a moment to subscribe to our mailing list. We will make sure to keep you up to date on everything
            ngAtl.
            Also we will respect your personal information, it will not be shared with anyone.
          </p>
        </div>
        <div class="right col-sm-12 col-md-4">
          <form (ngSubmit)="submitMailChimp()" #mailChimp>
            <input type="text" name="FNAME" placeholder="First Name" [(ngModel)]="signup.FNAME" required>
            <input type="text" name="LNAME" placeholder="Last Name" [(ngModel)]="signup.LNAME" required>
            <input type="email" name="EMAIL" placeholder="Enter Email" [(ngModel)]="signup.EMAIL" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_0b058da04fc0ba7ae956cb672_b623efabaf"
                     [(ngModel)]="signup.b_0b058da04fc0ba7ae956cb672_b623efabaf" tabindex="-1">
            </div>
            <button *ngIf="showMCSubmit" class="red-button" type="submit" [disabled]="mcSubmitted">Subscribe</button>
            <div *ngIf="!showMCSubmit" class="mcSubmitMessage">{{message}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container sponsors">
    <div class="header row text-center">
      <div class="col-12">
        <h1>Our Sponsors</h1>
        <div class="separator"></div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 card" *ngFor="let sponsor of sponsors">
        <a [href]="sponsor.url" target="_blank">
          <div class="image-container">
            <img [src]="'../../assets/' + sponsor.image" alt="sponsor.name">
          </div>
          <div class="title">
            {{ sponsor.name }}
          </div>
          <div class="caption">
            {{ sponsor.level }}
          </div>
        </a>
      </div>
      <div class="col-12">
        <a class="red-button"
           href="https://docs.google.com/forms/d/e/1FAIpQLSc9wTvlB7q0XFeM9NLGb8r49ikwPcGr4mc-wRS41s2CoM-rYw/viewform?usp=sf_link"
           target="_blank">Become a Sponsor</a>
      </div>
    </div>
  </div>
  <div class="container community">
    <div class="header row text-center">
      <div class="col-12">
        <h1>Our Community Partners</h1>
        <div class="separator"></div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 card" *ngFor="let member of community">
        <div class="image-container">
          <a [href]="member.link" target="_blank">
            <img [src]="'../../assets/' + member.logo" alt="member.name">
          </a>
        </div>
        <div class="title">
          {{ member.name }}
        </div>
      </div>
      <div class="col-12">
        <a class="red-button"
           href="https://docs.google.com/forms/d/e/1FAIpQLSduj89cqVIIlKg8m7N2UVIAr6utZQEE3aJkWRQyRPLNZ0eeTg/viewform?usp=sf_link"
           target="_blank">Become a Community Partner</a>
      </div>
    </div>
  </div>
</div>