.pill {
  background: transparent;
  border-radius: 25px;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; }

.red {
  background-color: #b62c31;
  border: 1px solid #b62c31; }
