@import "../../variables";

.pill {
    background: transparent;
    border-radius: 25px;
    border: 1px solid $white;
    color: $white;
    display: inline-block;
    font-size: 14px;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
}

.red {
    background-color: $primary;
    border: none;
}