@import "../../../variables";

.breadcrumb-hero {
  text-align: center;
  color: $white;
  background-color: $lightGray;
  padding-top: 70px;
  padding-bottom: 70px;
  .breadcrumb-title {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .breadcrumb-links {
    font-size: 10px;
  }
  a, a:hover {
    color: $white;
  }
  .current {
    color: $primary;
  }
}

.speakers-block {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  app-speaker-card {
    cursor: pointer;
    text-align: center;
    @media only screen and (max-width: 768px) {
      width: calc(100% - 10px - 1px);
    }
    width: calc(100% * (1 / 4) - 10px - 1px);
    flex-grow: 1;
  }
}