<div class="breadcrumb-hero">
  <div class="breadcrumb-title">Speakers</div>
  <div class="breadcrumb-links"><a routerLink="">HOME / </a><span class="current">SPEAKERS</span></div>
</div>
<div class="speakers-purchase">
  <a class="red-button" href="https://ti.to/ngatlconf/ngatl-2018" target="_blank">Get your tickets now</a>
</div>
<div class="speakers-block">
  <app-speaker-card *ngFor="let speaker of speakers" [speaker]="speaker"></app-speaker-card>
</div>
<div class="speakers-purchase">
  <a class="red-button" href="https://ti.to/ngatlconf/ngatl-2018" target="_blank">Get your tickets now</a>
</div>