@import "../../variables";

section {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.hero-img img {
  max-height: 500px;
  width: 100%;
}

.speakers {
  margin-top: 30px;
  margin-bottom: 45px;
}

.speaker-images {
  text-align: center;
}

.speaker-images img {
  height: 150px;
  margin-bottom: 25px;
  border-radius: 50%;
}
.home {
  
  .hero {
    color: $white;
    background-color: navy;
    padding: 200px;
    margin: 0 -15px;
  }

  .www {
    background-color: yellow;
    border: 1px solid green;
    margin: 5px;
  }
}

.card {
  padding: 20px; 
  .card-title {
    text-align: center;
  }
}